@charset "UTF-8";
/*==== Variables ====*/
/*== Variables ==*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);
/*==== Basico ====*/
body {
  z-index: 0;
  font-family: "Roboto", "Helvetica Neue, Helvetica, Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px;
  background-color: #e5e5e5;
  -webkit-text-size-adjust: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #000;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

a {
  color: #2196f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

tr, th, tr, td, .log, .select_text_block, span.highlight {
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

/*== Basico ==*/
/*==== Header ====*/
header.main {
  z-index: 2;
  background-color: #5085ec;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
header.main h1 {
  font-size: 20px;
  text-align: center;
  margin: 0;
  line-height: 45px;
  color: #fff;
}

/*== Header ==*/
.buttons {
  position: relative;
  margin: 6px 0;
}

main {
  padding: 0 8px;
}

/*==== Section ====*/
section, nav {
  z-index: 1;
  width: 100%;
  max-width: 1000px;
  padding-bottom: 12px;
  background-color: #fff;
  box-sizing: border-box;
  margin: 8px 0;
  border-radius: 24px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

section div {
  padding: 0 12px;
}

section.donors {
  border-radius: 14px;
  font-size: 15px;
  background-color: #ecd0d0;
  padding: 5px 10px;
  margin: 8px auto;
  max-width: 900px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}
section.donors h3, section.donors p {
  margin: 0;
}
section.donors h4 {
  margin: 5px 0;
}
section.donors p.donors {
  padding-left: 10px;
}

nav {
  border-radius: 14px;
  padding: 0;
  margin: 8px auto;
  max-width: 850px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

main section:last-child {
  margin-bottom: 32px;
}

/*== Section ==*/
/*==== Button ====*/
button, a.btn {
  margin: 5px 10px;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
  min-width: 64px;
  min-height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

button {
  margin: 5px 3px 12px;
}

button::-moz-focus-inner, a.btn::-moz-focus-inner {
  border: none;
}

/* Overlay */
button::before,
button::after, a.btn::before, a.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  opacity: 0;
}

button::before, a.btn::before {
  transition: opacity 0.2s;
}

button::after, a.btn::after {
  background: radial-gradient(circle at center, currentColor 1%, transparent 1%) center/10000% 10000% no-repeat;
  transition: opacity 1s, background-size 0.5s;
}

/* Hover, Focus */
button:hover,
button:focus, a.btn:hover, a.btn:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

button:hover::before, a.btn:hover::before {
  opacity: 0.08;
}

button:focus::before, a.btn:focus::before {
  opacity: 0.24;
}

button:hover:focus::before, a.btn:hover:focus::before {
  opacity: 0.32;
}

/* Active */
button:active, a.btn:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

button:active::after, a.btn:active::after {
  opacity: 0.32;
  background-size: 100% 100%;
  transition: background-size 0s;
}

/* Disabled */
button:disabled, a.btn:disabled {
  color: rgba(0, 0, 0, 0.38);
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: none;
  cursor: initial;
}

button:disabled::before,
button:disabled::after, a.btn:disabled::before, a.btn:disabled::after {
  opacity: 0;
}

/*== Button ==*/
/*==== Tables ====*/
.Output_table_data {
  overflow: hidden;
  border-collapse: collapse;
  width: 280px;
  background-color: #fff;
  box-sizing: border-box;
  margin: 10px auto;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}
.Output_table_data th {
  background-color: #000;
  color: #fff;
}
.Output_table_data td, .Output_table_data th {
  padding: 5px;
  border-right: 1px solid #000;
  text-align: center;
}
.Output_table_data td:last-child, .Output_table_data th:last-child {
  border: none;
}
.Output_table_data tr.ex {
  background-color: #d7ffd7;
}
.Output_table_data tr.blocked {
  background-color: #ffd7d7;
}
.Output_table_data tr {
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}
.Output_table_data tr:last-child {
  border-bottom: none;
}

/*== Tables ==*/
/*==== Text ====*/
h1, h2 {
  font-size: 26px;
}

h2 {
  text-align: center;
  border-radius: 24px 24px 0 0;
  margin: 0;
  padding: 8px;
}

.gray {
  background-color: #f0f0f0;
  border-bottom: 1px solid #c3c3c3;
}

.green {
  background-color: #d4ffe3;
  border-bottom: 1px solid #6ed091;
}

.blue {
  background-color: #cfeaff;
  border-bottom: 1px solid #7dc7ff;
}

.yellow {
  background-color: #fffeca;
  border-bottom: 1px solid #e3e278;
}

.orange {
  background-color: #ffe4c6;
  border-bottom: 1px solid #edb578;
}

.red {
  background-color: #ffc8c8;
  border-bottom: 1px solid #ed7c7c;
}

h3 {
  font-size: 23px;
  text-decoration: underline;
}

h4, h5 {
  font-size: 20px;
}

h5 {
  font-weight: 300;
}

h5::before {
  content: "• ";
}

h3, h4, h5 {
  margin: 20px 0 0px;
}

img.icon + h3 {
  margin: 0;
}

span.highlight {
  background-color: #e3e3e3;
  border-radius: 6px;
  padding: 2px;
}

span.log, .select_text_block {
  font-family: monospace;
}

.text-center {
  text-align: center;
}

/*== Text ==*/
ul, ol {
  font-size: 17px;
}

section li {
  margin-bottom: 10px;
  padding-right: 20px;
}

section li ol {
  padding: 10px 0 0px 20px;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}
nav ul li {
  width: 100%;
  list-style-type: none;
  margin-bottom: 0;
  padding-right: 0;
}
nav ul li a {
  display: block;
  padding: 6px;
  font-size: 15px;
  color: black;
  border-bottom: 1px solid #c3c3c3;
}
nav ul li a:hover {
  background-color: #eaeaea;
}
nav ul li a.green:hover {
  background-color: #c4ecd2;
}
nav ul li a.blue:hover {
  background-color: #c3dcf0;
}
nav ul li a.yellow:hover {
  background-color: #f4f3c1;
}
nav ul li a.orange:hover {
  background-color: #f5dbbe;
}
nav ul li a.red:hover {
  background-color: #f5c0bf;
}
nav ul li a:active {
  background-color: #dadada;
}
nav ul li a.green:active {
  background-color: #b5dac2;
}
nav ul li a.blue:active {
  background-color: #b7cfe2;
}
nav ul li a.yellow:active {
  background-color: #edecbb;
}
nav ul li a.orange:active {
  background-color: #edd4b8;
}
nav ul li a.red:active {
  background-color: #edb9b9;
}
nav ul li ol {
  padding: 0;
}
nav ul li ol li > a, nav ul li ol li > a:hover {
  text-decoration: underline;
  font-weight: bold;
}
nav ul li ol li > ol > li > a, nav ul li ol li > ol > li > a:hover {
  text-decoration: none;
  font-weight: normal;
}
nav ul li ol li > ol > li > ol > li > a, nav ul li ol li > ol > li > ol > li > a:hover {
  font-weight: 300;
}

nav ul:first-child > li:first-child > a {
  border-radius: 14px 14px 0 0;
}

nav ul:last-child li:last-child > ol > li:last-child > a, nav ul:last-child > li:last-child > a {
  border-radius: 0 0 14px 14px;
  border-bottom: none;
}

nav ul:first-child > li > a {
  text-decoration: none;
  padding: 7px;
  font-size: 17px;
  font-weight: bold;
}

p {
  margin-bottom: 0;
}

img.icon, img.example {
  display: block;
  width: 80px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  margin: 10px auto;
}

img.icon {
  border-radius: 100%;
  border: 1px solid black;
}

img.example {
  width: 300px;
  border-radius: 8px;
}

img.ball {
  display: block;
  position: relative;
  float: left;
  width: 24px;
  top: 5px;
  margin-right: 4px;
}

@media (max-width: 340px) {
  .Output_table_data {
    font-size: 14px;
    width: 100%;
  }

  img.example {
    width: 100%;
  }
}
@supports (padding-left: env(safe-area-inset-left)) {
  main {
    padding-left: calc(8px + env(safe-area-inset-left));
    padding-right: calc(8px + env(safe-area-inset-right));
  }
}

/*# sourceMappingURL=style.css.map */
